---
interface Props {
	content: { srcs: string[] };
	class?: string | undefined;
	style?: string | undefined;
}

const { content, class: className, style } = Astro.props;
const { srcs } = content;
---

{
	srcs.length === 1 ? (
		<img data-lilypond-image class={className} src={srcs[0]} alt="" style={style} />
	) : (
		<ol data-lilypond-group class={className} style={style}>
			{srcs.map((src) => (
				<li>
					<img data-lilypond-image src={src} alt="" />
				</li>
			))}
		</ol>
	)
}
